@page "/cart"
@using EcommSite.Web.Services
@inject CartService Cartz

<PageTitle>Cart</PageTitle>
<h1>Cart</h1>

@if (!Cartz.Items.Any())
{
    <p>Your Cart is Empty</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th class="text-end">
                    Qty
                </th>
                <th class="text-end">
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Cartz.Items)
            {
                <tr>
                    <td>@i.Product.Name</td>
                    <td class="text-end">
                        <input type="number" min="0" class="form-control" value="@i.Quantity"
                            @onchange="(e) => Cartz.UpdateQty(i.Product.Id, int.Parse(e.Value?.ToString()))"
                            style="width:6rem" />

                    </td>
                    <td class="text-end">
                        @((i.Product.Price * i.Quantity).ToString("C"))
                    </td>
                    <td class="text-end">
                        <button type="button" class="btn btn-link" @onclick="() => Cartz.Remove(i.Product.Id)">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="text-end">
                    <strong>Total</strong>
                </td>
                <td class="text-end">
                    <strong>@Cartz.Total.ToString("C")</strong>
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <a class="cbt btn-success" href="/checkout">Checkout</a>
    <button type="button" class="btn btn-outline-secondary ms-2" @onclick="Cartz.Clear">Clear</button>
}